img {
  width: 80px;
  height: 80px;
}
.box {
  background-color: rgb(207, 204, 204);
  border-color: gray;
  width: 550px;
  height: 100px;
  margin: 50px;
}

.media-left {
  float: left;
}
.media-content {
  padding: 15px;
  float: left;
}
.media-right {
  padding-top: 35px;
  margin-left: 35px;
}
.control input {
  float: left;
  margin-left: 36px;
}
.control button {
  float: right;
  margin-right: 35px;
}
.input {
  border-color: indigo;
}
.is-info {
  background-color: indigo;
}
/* .wrapper{width:100%; display:table;}
.equal{display:table-cell;}
.left{text-align:left;}
.center{text-align:center;}
.right{text-align:right;} */
